@use '../variables';

.infos-bar {
    padding: 16px 24px;
    background-color: variables.$textColor;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;

    &__infos {
        display: flex;
        gap: 50px;
        padding: 0 8px;
        align-items:center;

        &__item {
            font-size: 14px;
            color: variables.$secondaryTextColor;

            b {
                color: variables.$secondaryTextColor;
                font-size: 18px;
                display: block;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-height: 500px) and (orientation: landscape) {
        gap: 24px;
        flex-direction: column;
    }

    @media (max-width: 1024px) {
        gap: 24px;
        flex-direction: column;

        &__infos {
            gap: 16px;
        }
    }
}